Repository joker0231/muxi-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jest --passWithNoTests, stylelint

.lintstagedrc:

{
    "src/**/*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "jest --passWithNoTests"
    ],
    "src/**/*.{css,less}": [
        "stylelint"
    ]
}

test
  .lintstagedrc
Due: none

test
  package.json
  types/components/Button/Button.d.ts
  types/components/Button/Button.stories.d.ts
  types/components/Button/Button.test.d.ts
  types/components/Button/index.d.ts
  types/components/Input/Input.d.ts
  types/components/Input/Input.stories.d.ts
  types/components/Input/Pc/FieldInput/FieldInput.d.ts
  types/components/Input/Pc/FieldInput/FieldInput.stories.d.ts
  types/components/Input/index.d.ts
  types/components/Input/interface.d.ts
  types/components/index.d.ts
  types/helpers/KeyboardKey.d.ts
  types/index.d.ts
Due: none

create node.js.yml
  .github/workflows/node.js.yml
Due: none

test
  src/components/Button/Button.tsx
Due: eslint --fix, jest --passWithNoTests

test
  .github/workflows/node.js.yml
Due: none

feat(package.json): fix code commit bug
  .DS_Store
  .lintstagedrc
  package-lock.json
  package.json
  yarn.lock
Due: none

test
  package.json
  yarn.lock
Due: none

test
  .huskyrc
  package.json
Due: none

fix(commitlint): 修复commitlint不报错
  .husky/commit-msg
  .huskyrc
Due: none

fix(commitlint)
  .husky/commit-msg
  .husky/pre-commit
  README.md
Due: none

fix(commitlint): 测试验证
  .husky/commit-msg
  .husky/pre-commit
  README.md
Due: none

chore(pub): 修复eslint配置问题，修正文件规范
  .eslintrc.js
  .lintstagedrc
  package-lock.json
  package.json
  src/components/Button/Button.stories.tsx
  src/components/Input/Input.stories.tsx
  src/components/Input/Input.tsx
  src/components/Input/Pc/FieldInput/FieldInput.stories.tsx
  src/components/Input/Pc/FieldInput/FieldInput.tsx
  src/components/Input/interface.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, jest --passWithNoTests

feat(build): 添加支持构建image
  README.md
  package.json
  rollup.config.js
  src/components/Button/__test__/Button.test.tsx
  src/components/Icon/Icon.stories.tsx
  src/components/Icon/Icon.tsx
  src/components/Icon/index.ts
  src/types/index.d.ts
  tsconfig.json
  types/components/Button/Button.d.ts
  types/components/Button/Button.stories.d.ts
  types/components/Button/Button.test.d.ts
  types/components/Button/index.d.ts
  types/components/Input/Input.d.ts
  types/components/Input/Input.stories.d.ts
  types/components/Input/Pc/FieldInput/FieldInput.d.ts
  types/components/Input/Pc/FieldInput/FieldInput.stories.d.ts
  types/components/Input/index.d.ts
  types/components/Input/interface.d.ts
  types/components/index.d.ts
  types/index.d.ts
  yarn.lock
Due: eslint --fix, jest --passWithNoTests

feat(pub): 优化start和build命令，测试rollup图片文件，链接到工作台使用
  README.md
  package.json
  src/assets/images/6771060.jpg
  src/components/Icon/Icon.tsx
  src/components/Icon/index.ts
  src/components/Input/index.ts
  src/components/index.ts
Due: eslint --fix, jest --passWithNoTests

test
  .DS_Store
  package.json
Due: none

feat(component): 增加右键card dropsown组件
  src/components/Card/Card.stories.tsx
  src/components/Card/Card.tsx
  src/components/Card/index.less
  src/components/Card/index.ts
  src/components/Card/interface.ts
  src/components/Dropdown/Dropdown.stories.tsx
  src/components/Dropdown/Dropdown.tsx
  src/components/Dropdown/index.less
  src/components/Dropdown/index.ts
  src/components/Dropdown/interface.ts
  src/components/Input/lll
Due: eslint --fix, jest --passWithNoTests, stylelint

feat(component): 修改接口问题
  src/components/Card/Card.tsx
  src/components/Card/interface.ts
  src/components/Dropdown/Dropdown.tsx
  src/components/Dropdown/interface.ts
Due: eslint --fix, jest --passWithNoTests

feat(component): 增加防抖函数
  src/components/Input/Input.tsx
Due: eslint --fix, jest --passWithNoTests

chore(global): 调整整体storybook架构，清晰化组件库形式
  README.md
  src/components/Button/BaseButton/__test__/Button.test.tsx
  src/components/Button/BaseButton/index.stories.tsx
  src/components/Button/BaseButton/index.tsx
  src/components/Button/Button.less
  src/components/Button/Button.tsx
  src/components/Button/__test__/Button.test.tsx
  src/components/Button/index.ts
  src/components/Icon/BaseIcon/index.stories.tsx
  src/components/Icon/BaseIcon/index.tsx
  src/components/Icon/index.ts
  src/components/Input/BaseInput/index.stories.tsx
  src/components/Input/BaseInput/index.tsx
  src/components/Input/Input.less
  src/components/Input/Input.stories.tsx
  src/components/Input/MobileInput/index.stories.tsx
  src/components/Input/MobileInput/index.tsx
  src/components/Input/Pc/FieldInput/FieldInput.stories.tsx
  src/components/Input/PcInput/index.stories.tsx
  src/components/Input/PcInput/index.tsx
  src/components/Input/index.ts
  src/components/index.ts
Due: eslint --fix, jest --passWithNoTests, stylelint

chore(global): 优化Card和Dropdown组件写法，梳理后续工作思路，待探讨storybook设计思路
  .lintstagedrc
  src/components/Button/BaseButton/index.stories.tsx
  src/components/Button/Button.lnk
  src/components/Button/index.ts
  src/components/Card/BaseCard/index.stories.tsx
  src/components/Card/BaseCard/index.tsx
  src/components/Card/Card.stories.tsx
  src/components/Card/Card.tsx
  src/components/Card/index.less
  src/components/Card/index.ts
  src/components/Card/interface.ts
  src/components/Dropdown/BaseDropdown/index.less
  src/components/Dropdown/BaseDropdown/index.stories.tsx
  src/components/Dropdown/BaseDropdown/index.tsx
  src/components/Dropdown/Dropdown.stories.tsx
  src/components/Dropdown/Dropdown.tsx
  src/components/Dropdown/index.ts
  src/components/Dropdown/interface.ts
  src/components/Input/Input.lnk
  src/components/index.ts
  src/helpers/hooks/useRightClick.ts
Due: eslint --fix, jest --passWithNoTests, stylelint

test
  .lintstagedrc
  src/components/Card/BaseCard/index.less
Due: stylelint

feat(component): test
  .husky/commit-msg
  .husky/pre-commit
Due: none

feat(component): test
  src/components/Card/BaseCard/index.less
  src/components/Card/BaseCard/index.tsx
Due: eslint --fix, jest --passWithNoTests, stylelint

feat(component): 增加button和panel组件
  .lintstagedrc
  src/components/Button/BaseButton/index.less
  src/components/Button/BaseButton/index.tsx
  src/components/Button/interface.ts
  src/components/Card/BaseCard/index.tsx
  src/components/Panel/BasePanel/index.less
  src/components/Panel/BasePanel/index.stories.tsx
  src/components/Panel/BasePanel/index.tsx
  src/components/Panel/index.ts
  src/components/Panel/interface.ts
Due: eslint --fix, jest --passWithNoTests, stylelint

feat(component): 修改button和panel 增加message组件
  .DS_Store
  package.json
  src/components/Button/BaseButton/__test__/Button.test.tsx
  src/components/Button/BaseButton/index.less
  src/components/Button/BaseButton/index.stories.tsx
  src/components/Button/BaseButton/index.tsx
  src/components/Button/interface.ts
  src/components/Message/BaseMessage/index.less
  src/components/Message/BaseMessage/index.stories.tsx
  src/components/Message/BaseMessage/index.tsx
  src/components/Message/index.ts
  src/components/Message/interface.ts
  src/components/Panel/BasePanel/index.stories.tsx
  src/components/Panel/BasePanel/index.tsx
  src/components/ProfessionalSelector/ProfessionalSelector/index.less
  src/components/ProfessionalSelector/ProfessionalSelector/index.stories.tsx
  src/components/ProfessionalSelector/ProfessionalSelector/index.tsx
  src/components/ProfessionalSelector/index.ts
  src/components/ProfessionalSelector/interface.ts
  yarn-error.log
  yarn.lock
Due: eslint --fix, jest --passWithNoTests, stylelint

feat(component): 增加右键卡片类型
  src/components/Card/FileCard/index.stories.tsx
  src/components/Card/FileCard/index.tsx
  src/components/Card/StatusCard/index.stories.tsx
  src/components/Card/StatusCard/index.tsx
  src/components/Message/BaseMessage/index.tsx
  src/components/Panel/BasePanel/index.tsx
Due: eslint --fix, jest --passWithNoTests

feat(conponent): 修改card和icon组件
  custom.d.ts
  package.json
  src/assets/images/avatar.png
  src/assets/svg/commonIcon/comment.svg
  src/assets/svg/commonIcon/thumbs.svg
  src/assets/svg/commonIcon/thumbs_up.svg
  src/assets/svg/fileIcon/default.svg
  src/assets/svg/fileIcon/doc.svg
  src/assets/svg/fileIcon/docFolder.svg
  src/assets/svg/fileIcon/folder.svg
  src/assets/svg/fileIcon/pdf.svg
  src/assets/svg/fileIcon/psd.svg
  src/assets/svg/fileIcon/rar.svg
  src/assets/svg/fileIcon/txt.svg
  src/assets/svg/fileIcon/zip.svg
  src/components/Card/FileCard/index.less
  src/components/Card/FileCard/index.stories.tsx
  src/components/Card/FileCard/index.tsx
  src/components/Card/StatusCard/index.less
  src/components/Card/StatusCard/index.stories.tsx
  src/components/Card/StatusCard/index.tsx
  src/components/Card/interface.ts
  src/components/Icon/BaseIcon/index.less
  src/components/Icon/BaseIcon/index.stories.tsx
  src/components/Icon/BaseIcon/index.tsx
  src/components/Icon/interface.ts
  src/components/RightClick/BaseUse/index.stories.tsx
  src/components/RightClick/BaseUse/index.tsx
  src/components/RightClick/index.ts
  src/components/RightClick/interface.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, jest --passWithNoTests, stylelint

chore(pub): 在lint-staged添加tsc-files校验文件的ts规则，但不会抛出错误，仍需要编辑器提示或者yarn tscheck解决
  .gitignore
  .lintstagedrc
  package.json
  yarn.lock
Due: none

修改pr问题
  .gitignore
  .lintstagedrc
  package.json
  src/components/Card/FileCard/index.less
  src/components/Card/FileCard/index.tsx
  src/components/Card/StatusCard/index.less
  src/components/Card/StatusCard/index.stories.tsx
  src/components/Card/StatusCard/index.tsx
  src/components/Card/interface.ts
  src/components/Icon/BaseIcon/index.tsx
  src/components/Icon/interface.ts
  src/components/Input/BaseInput/index.tsx
  src/components/Input/MobileInput/index.tsx
  src/components/Message/BaseMessage/index.tsx
  src/components/Message/interface.ts
  src/components/Panel/BasePanel/index.tsx
  src/components/ProfessionalSelector/ProfessionalSelector/index.stories.tsx
  src/components/ProfessionalSelector/ProfessionalSelector/index.tsx
  src/components/RightClick/BaseUse/index.stories.tsx
  src/components/RightClick/interface.ts
  yarn.lock
Due: eslint --fix, jest --passWithNoTests, stylelint

feat(button): 添加移动端按钮用类组件实现方式
  .eslintrc.js
  custom.d.ts
  src/components/Card/FileCard/index.tsx
  src/components/Card/StatusCard/index.tsx
  src/components/Input/MobileInput/index.less
  src/components/Input/MobileInput/index.tsx
  src/components/Input/MobileInput/variables.less
  src/components/Panel/BasePanel/index.tsx
  src/components/ProfessionalSelector/ProfessionalSelector/index.stories.tsx
Due: eslint --fix, jest --passWithNoTests, stylelint

增加专业选择器组件
  src/components/Input/BaseInput/index.tsx
  src/components/Input/MobileInput/index.less
  src/components/Input/MobileInput/index.tsx
  src/components/ProfessionalSelector/ProfessionalSelector/index.less
  src/components/ProfessionalSelector/ProfessionalSelector/index.stories.tsx
  src/components/ProfessionalSelector/ProfessionalSelector/index.tsx
  src/components/Selector/ProfessionalSelector/index.less
  src/components/Selector/ProfessionalSelector/index.stories.tsx
  src/components/Selector/ProfessionalSelector/index.tsx
  src/components/Selector/SelectorInput/index.less
  src/components/Selector/SelectorInput/index.tsx
  src/components/Selector/SelectorPanel/index.less
  src/components/Selector/SelectorPanel/index.tsx
  src/components/Selector/index.ts
  src/components/Selector/interface.ts
  src/helpers/hooks/useSyncCallback.ts
Due: eslint --fix, jest --passWithNoTests, stylelint

增加专业选择器组件
  src/components/Selector/ProfessionalSelector/index.tsx
  src/components/Selector/SelectorInput/index.tsx
  src/components/Selector/SelectorPanel/index.less
Due: eslint --fix, jest --passWithNoTests, stylelint

fix(public): 解决ts报错：1. 先全局运行npm run tscheck 2. 对应文件解决ts报错
  src/components/Card/FileCard/index.stories.tsx
  src/components/Card/index.ts
  src/components/index.ts
  src/types/index.d.ts
  tsconfig.json
Due: eslint --fix, jest --passWithNoTests

chore(eslint): 修复老是报错ESLint: Delete `(prettier/prettier)，prettier配置有问题
  .eslintrc.js
Due: none

refactor(message): 优化Message组件规范，删除interface.ts，优化Storybook例子
  src/components/Message/BaseMessage/index.less
  src/components/Message/BaseMessage/index.stories.tsx
  src/components/Message/BaseMessage/index.tsx
  src/components/Message/index.ts
  src/components/Message/interface.ts
  src/components/index.ts
  src/types/index.d.ts
Due: eslint --fix, jest --passWithNoTests, stylelint

refactor(card): 重构卡片组件，搬移RightClick到Card文件夹，优化FileCard逻辑，StatusCard待二次优化
  .lintstagedrc
  .stylelintrc.js
  src/components/Card/FileCard/helper.ts
  src/components/Card/FileCard/index.less
  src/components/Card/FileCard/index.tsx
  src/components/Card/RightClick/index.less
  src/components/Card/RightClick/index.tsx
  src/components/Card/StatusCard/index.tsx
  src/components/Card/index.ts
  src/components/RightClick/BaseUse/index.stories.tsx
  src/components/RightClick/BaseUse/index.tsx
  src/components/RightClick/index.ts
  src/components/RightClick/interface.ts
Due: eslint --fix, jest --passWithNoTests, stylelint

fix(card): 修复rightclick更改后ts报错
  src/components/Card/StatusCard/index.tsx
Due: eslint --fix, jest --passWithNoTests

revert(rightclick): 回退rightclick改动，睡了一觉感觉放在外面更好
  src/components/Card/FileCard/index.tsx
  src/components/Card/StatusCard/index.tsx
  src/components/Card/index.ts
  src/components/RightClick/index.less
  src/components/RightClick/index.stories.tsx
  src/components/RightClick/index.tsx
  tsconfig.json
Due: eslint --fix, jest --passWithNoTests, stylelint

refactor(selector): 留存
  .lintstagedrc
  src/components/Selector/ProfessionalSelector/index.stories.tsx
  src/components/Selector/ProfessionalSelector/index.tsx
  src/components/Selector/SelectorInput/index.tsx
  src/components/Selector/SelectorPanel/index.less
  src/components/Selector/SelectorPanel/index.tsx
  src/helpers/hooks/useSyncCallback.ts
Due: eslint --fix, jest --passWithNoTests, stylelint

refactor(professionalselector): 优化组件代码
  .DS_Store
  src/components/Panel/BasePanel/index.tsx
  src/components/Selector/ProfessionalSelector/index.stories.tsx
  src/components/Selector/ProfessionalSelector/index.tsx
  src/components/Selector/SelectorInput/index.tsx
  src/components/Selector/SelectorPanel/index.tsx
  src/components/Selector/interface.ts
Due: eslint --fix, jest --passWithNoTests
